### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# define variables that will populate the snapshot dataframe
school_sum = len(school_data_complete["school_name"].unique())
student_sum = school_data_complete["student_name"].count()
avg_math = school_data_complete["math_score"].mean()
avg_reading = school_data_complete["reading_score"].mean()

# refer to the unmerged school_data set for list of school budgets
total_budget = school_data["budget"].sum()

# filter for math scores 70 or greater
passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70].count()["Student ID"]
pct_passing_math = passing_math / float(student_sum)*100

# filter for reading scores 70 or greater
passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70].count()["Student ID"]
pct_passing_reading = passing_reading / float(student_sum)*100

# filter for math AND reading scores 70 or greater
passing_overall = len(school_data_complete.loc[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)])/student_sum*100

# Creating a summary DataFrame using above values
district_summary_df = pd.DataFrame({"Total Schools": [school_sum],
                                   "Total Students": [student_sum],
                                   "Total Budget": [total_budget],
                                   "Average Math Score": [avg_math],
                                   "Average Reading Score": [avg_reading],
                                   "% Passing Math": [pct_passing_math],
                                   "% Passing Reading": [pct_passing_reading],
                                   "% Passing Overall": [passing_overall]})
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [5]:
# Groupby school_name
grouped_school_df = school_data_complete.groupby("school_name")

# define variables that will populate the summary dataframe
# school_name = grouped_school_df["school_name"].count()
school_type = grouped_school_df["type"].unique()
school_student_count = grouped_school_df["Student ID"].count()
school_budget = grouped_school_df["budget"].unique()
per_student_budget = school_budget / school_student_count
school_avg_math = grouped_school_df["math_score"].mean()
school_avg_reading = grouped_school_df["reading_score"].mean()

# filter for math scores 70 or greater
school_passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
grouped_passed_math = school_passing_math.groupby("school_name")
passed_math_count = grouped_passed_math['Student ID'].count()
school_pct_pass_math = passed_math_count / school_student_count * 100.0

# filter for reading scores 70 or greater
school_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]
grouped_passed_reading = school_passing_reading.groupby("school_name")
passed_reading_count = grouped_passed_reading['Student ID'].count()
school_pct_pass_reading = passed_reading_count / school_student_count * 100.0

# filter for math AND reading scores 70 or greater
# school_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]
# grouped_passed_reading = school_passing_reading.groupby("school_name")
# passed_reading_count = grouped_passed_reading['Student ID'].count()
# school_passing_overall = len(school_data_complete[school_data_complete["math_score"] >= 70] & school_data_complete[school_data_complete["reading_score"] >= 70])/school_student_count*100
school_passing_overall = (school_pct_pass_math + school_pct_pass_reading) / 2

# Create overview table to summarize all the metrics
school_summary_df = pd.DataFrame({"School Type": school_type,
                                  "Total Students": school_student_count,
                                  "Total School Budget": school_budget,
                                  "Per Student Budget": per_student_budget,
                                  "Average Math Score": school_avg_math,
                                  "Average Reading Score": school_avg_reading,
                                  "% Passing Math": school_pct_pass_math,
                                  "% Passing Reading": school_pct_pass_reading,
                                  "% Passing Overall": school_passing_overall
                        })

school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,,,,
Bailey High School,[District],4976,[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,[District],4635,[3022020],[652.0],77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,[Charter],427,[248087],[581.0],83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,[Charter],1761,[1056600],[600.0],83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,[Charter],1800,[1049400],[583.0],83.682222,83.955000,93.333333,96.611111,94.972222

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [6]:
Top_schools_df = school_summary_df.sort_values("% Passing Overall", ascending=False)
Top_schools_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,,,,
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [7]:
Bottom_schools_df = school_summary_df.sort_values("% Passing Overall", ascending=True)
Bottom_schools_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,,,,
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [27]:
# groupby school name, create a df with average math score (9,10,11,12) as columns
math_grade9_df = school_data_complete[(school_data_complete["grade"]=="9th")]
math_grade10_df = school_data_complete[(school_data_complete["grade"]=="10th")]
math_grade11_df = school_data_complete[(school_data_complete["grade"]=="11th")]
math_grade12_df = school_data_complete[(school_data_complete["grade"]=="12th")]

# groupby ("school name") w/ .mean()
grouped_math_grade9_df = math_grade9_df.groupby("school_name").mean()
grouped_math_grade10_df = math_grade10_df.groupby("school_name").mean()
grouped_math_grade11_df = math_grade11_df.groupby("school_name").mean()
grouped_math_grade12_df = math_grade12_df.groupby("school_name").mean()

# create final df with columns (9,10,11,12)
math_by_grade_df = pd.DataFrame({"9th": grouped_math_grade9_df["math_score"],
                                "10th": grouped_math_grade10_df["math_score"],
                                "11th": grouped_math_grade11_df["math_score"],
                                "12th": grouped_math_grade12_df["math_score"]
                                })
math_by_grade_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# binning exercise
# columns: avg math score, avg reading score, % pass math, % pass reading, % overall pass rate
# rows: dependent bins ... small med large ... spending ranges

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# binning exercise
# columns: avg math score, avg reading score, % pass math, % pass reading, % overall pass rate
# rows: dependent bins ... small med large ... under 1k, 1k-2k, over 2k

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
# take df from scores by school size
# columns: avg math score, avg reading score, % pass math, % pass reading, % overall pass rate
# two rows: charter or district