### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# define variables that will populate the snapshot dataframe
school_sum = len(school_data_complete["school_name"].unique())
student_sum = school_data_complete["student_name"].count()
avg_math = school_data_complete["math_score"].mean()
avg_reading = school_data_complete["reading_score"].mean()

# refer to the unmerged school_data set for list of school budgets
total_budget = school_data["budget"].sum()

# filter for math scores 70 or greater
passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70].count()["Student ID"]
pct_passing_math = passing_math / float(student_sum)*100

# filter for reading scores 70 or greater
passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70].count()["Student ID"]
pct_passing_reading = passing_reading / float(student_sum)*100

# filter for math AND reading scores 70 or greater
passing_overall = len(school_data_complete.loc[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)])/student_sum*100

# Creating a summary DataFrame using above values
district_summary_df = pd.DataFrame({"Total Schools": [school_sum],
                                   "Total Students": [student_sum],
                                   "Total Budget": [total_budget],
                                   "Average Math Score": [avg_math],
                                   "Average Reading Score": [avg_reading],
                                   "% Passing Math": [pct_passing_math],
                                   "% Passing Reading": [pct_passing_reading],
                                   "% Passing Overall": [passing_overall]})
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [69]:
# Groupby school_name
grouped_school_df = school_data_complete.groupby("school_name")

# define variables that will populate the summary dataframe
school_name = grouped_school_df["school_name"].count()
school_type = grouped_school_df["type"].count()
# school_student_count = school_data_complete["Student ID"].count()
# per_student_budget = school_data_complete["budget"]/ student_sum
# school_avg_math = school_data_complete["math_score"].mean()
# school_avg_reading = school_data_complete["reading_score"].mean()
# # school_pct_pass_math = 
# # school_pct_pass_reading = 
# # school_passing_overall = 

# # Create overview table to summarize all the metrics
school_summary_df = pd.DataFrame({"School Name": school_name,
                                  "School Type": school_type
#                                   "Total Students": student_sum
#                                    "Total School Budget": [per_student_budget],
#                                    "Average Math Score": [school_avg_math],
#                                    "Average Reading Score": [school_avg_reading]})
#                                    "% Passing Math": [school_pct_pass_math],
#                                    "% Passing Reading": [school_pct_pass_reading],
#                                    "% Passing Overall": [school_passing_overall]
                        })

school_summary_df

                       School Name  School Type
school_name
Bailey High School            4976         4976
Cabrera High School           1858         1858
Figueroa High School          2949         2949
Ford High School              2739         2739
Griffin High School           1468         1468
Hernandez High School         4635         4635
Holden High School             427          427
Huang High School             2917         2917
Johnson High School           4761         4761
Pena High School               962          962
Rodriguez High School         3999         3999
Shelton High School           1761         1761
Thomas High School            1635         1635
Wilson High School            2283         2283
Wright High School            1800         1800

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type